:root {

    --header-backgroud: #0258FF;
    --body-background: #F2F3F8;
    --white-color: #FFFFFF;
    --update-backdgroud: #E7D000;
    --cancel-background: #E02424;
    --mark-list: #DAE7FF;
    --item-list-background: #EEEEEE;
    --placeholder-font: #CAC8C8;
    --border-color: #CFC7C7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}


html {
    font-size: 62.5%;
}


body {
    background-color: var(--body-background);
    /*background: linear-gradient(to bottom, #e7ecf0, #adc7e2);*/
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Faz com que o conteúdo ocupe toda a altura da tela */
}

.container {
    background: linear-gradient(50deg, #0258FF, #4BC4EB);
    width: 94.4rem;
    height: 53.8rem;
    border-radius: 3rem;
}

#logo,
.container h2,
.container h3 {
    color: var(--white-color);
    font-weight: 900;
    padding-bottom: 1rem;
}

#logo {
    font-size: 5rem;
    text-transform: uppercase;
    margin-top: 5rem;
    margin-bottom: 4rem;
    
}

.container h2 {
    font-size: 2.4rem;
    padding-bottom: 2rem;
}

.container h3 {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 400;
    padding-bottom: 2rem;

}

input[type="text"],
input[type="password"],
.btn-lg {
    font-size: 1.6rem;
    font-weight: 500;
    width: 42.3rem;
    height: 5rem;
    border-radius: .5rem;
    padding-left: 6rem;
    box-shadow: .2rem .2rem .4rem .1rem rgba(0, 0, 0, 0.226);
    color: #6D6D6D;
    border: none;
    margin-bottom: 1.9rem;
}


.bx {
    color: var(--placeholder-font);
    position: absolute;
    padding-top: 1.3rem;
    padding-left: 2rem;
    font-size: 2.3rem;
}

#username,
#password:focus {
    outline: none;
}

#username::placeholder,
#password::placeholder {
    font-size: 1.6rem;
    color: #CAC8C8;
}

.btn-lg {
    background-color: var(--header-backgroud);
    color: var(--white-color);
    padding: .1rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 2.9rem;
    transition: background 300ms ease-in;
}

.btn-lg:hover {
    background: linear-gradient(to left, #0258FF, #4BC4EB);
}

.esqueci-password {
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
}

.esqueci-password:hover {
    text-decoration: underline;
}